@import "Colors.scss";

html,
body,
div#root,
div.app {
	height: 100%;
}
html,
body {
	color: $black;
	background-color: $white;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	padding: 0;
	margin: 0;
}
* {
	box-sizing: border-box;
}

.app {
	display: flex;
	flex-direction: column;
	&.white {
		background-color: $white;
	}
	&.green {
		background-color: $green;
		color: $white;
	}
	&.menu-active {
		.page-header {
			color: $grey;
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", "Roboto", sans-serif;
	font-weight: 500;
}

@media (max-width: 380px) {
	html,
	body {
		font-size: 18px;
	}
	.page-footer__copyright {
		font-size: 0.8rem;
	}
}
