@import "Colors.scss";

html,
body,
div#root,
div.app {
    height: 100%;
}
html,
body {
    color: $black;
    background-color: $white;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
    &.white {
        background-color: $lightGrey;
    }
    &.green {
        background-color: $green;
        color: $white;
    }
    .page-header {
        padding: 0 2rem;
    }
    &.menu-active > .page-header {
        background-color: $white;
        color: $black;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", "Lato", sans-serif;
    font-weight: 500;
}

@media (max-width: 380px) {
    html,
    body {
        font-size: 18px;
    }
    .page-footer__copyright {
        font-size: 0.8rem;
    }
}
