@import "./Colors.scss";

.groups-list-page {
	display: flex;
	flex-direction: row;
	overflow-x: hidden;

	.faculties-wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 1rem 2rem;
		margin-right: -1rem;
		justify-content: space-between;
		column-count: 2;

		& > .faculty {
			margin-bottom: 1.5rem;
		}

		.faculty {
			display: flex;
			flex-direction: column;
			min-width: 120px;
			min-height: 100px;
			flex: 1;
			max-width: 150px;
			max-height: 100px;
			margin-right: 1rem;
			box-shadow: 0 2px 4px $offWhite;
			cursor: pointer;

			&-background {
				flex: 1 0;
				border-radius: 4px 4px 0 0;
				background-color: $grey;
			}
			&-title {
				flex: 0 1 fit-content;
				font-family: "Lato", sans-serif;
				font-weight: 400;
				font-size: 1rem;
				text-align: center;
				margin: 0;
				padding: 0.8rem auto;
			}
		}
	}

	.specialties-wrapper {
		.specialty {
			border: 1px solid $offWhite;
			font-family: "Lato", sans-serif;
			&:first-child {
				border-top: none;
			}
			&:not(:last-child) {
				border-bottom: none;
			}
			&::before {
				display: none;
			}

			&-summary {
				background-color: $white;
				padding: 1rem 1.5rem 1rem 2rem;
				cursor: pointer;
				.MuiAccordionSummary-content {
					margin: 0;
					padding-right: 1rem;
				}
			}
			&-details {
				border-top: 1px solid $offWhite;
				padding: 0;

				.specialty-course {
					cursor: pointer;
					background-color: hsl(0, 0%, 97%);
					margin: 0;
					padding: 0.8rem 2rem;
					border-style: solid;
					border-color: $offWhite;
					border-width: 0 0 1px;
					&:last-child {
						border-bottom: 0;
					}
				}
			}
		}
	}
}
