@import "./Colors.scss";

.app .page .specialty {
	border: 1px solid transparentize($black, 0.84);
	font-family: "Lato", sans-serif;
	box-shadow: none;

	&:first-child {
		border-top: none;
	}
	&:not(:last-child) {
		border-bottom: none;
	}
	&::before {
		display: none;
	}

	&-summary {
		background-color: $white;
		padding: 1rem 1.5rem 1rem 2rem;
		cursor: pointer;
		.MuiAccordionSummary-content {
			margin: 0;
			padding-right: 1rem;
		}
	}
	&-details {
		border-top: 1px solid transparentize($black, 0.84);
		padding: 0;

		.specialty-course {
			cursor: pointer;
			background-color: hsl(0, 0%, 95%);
			margin: 0;
			padding: 0.8rem 2rem;
			border-style: solid;
			border-color: $offWhite;
			border-width: 0 0 1px;
			&:last-child {
				border-bottom: 0;
			}
		}
	}
}
