@import "./Colors.scss";

.swipe-root {
	display: flex;
	flex: 1;
	position: relative;
	background-color: $red;
	.swipe-wrapper {
		z-index: 1;
		flex: 1;
		background-color: $white;
		@include transition(transform 75ms ease-out);
	}
	.swipe-action {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
		color: $white;
		align-items: center;
		justify-content: center;
		padding: 0 0.5rem;
	}
}
